.bizback {
	background-image: url("../dist/img/business1.jpg") !important;
}

.profile-bg {
	background-image: url("../dist/img/boxed-bg.jpg") !important;
}


.box-row {
	width: 1113px;
	display: inline-block;
}

.navbar-static-top {
	top: -20px;
}

.main-header {
	height: 50px;
}